


  <style> .sample-container { margin-top: 50px } </style>
<thf-toolbar
  [t-profile]="profile"
  [t-profile-actions]="profileActions"
  [t-notification-actions]="notificationActions"
  [t-notification-number]="getNotificationNumber()"
  [t-title]="title">
</thf-toolbar>

<!-- <div class="thf-row">
  <div class="sample-container">
    <thf-widget class="thf-sm-12">
      <div class="thf-font-title"> Hello, {{ profile.title }}. </div>
      <div class="thf-font-subtitle"> Let's work hard! </div>
    </thf-widget>
  </div>
</div>--> 