

<div class="thf-wrapper">
  <!-- <thf-toolbar t-title="Web Sales - Ajudando Grandes Vendededores nas suas grande conquistas!"
  [t-show-notification]="true">

  </thf-toolbar>--> 
  <style> .sample-container { margin-top: 50px } </style>
  <app-toolbar></app-toolbar>
  
  <thf-menu [t-menus]="menus">
  </thf-menu>
  
  <router-outlet></router-outlet>
  <!-- <thf-toolbar
  [t-profile]="profile"
  [t-profile-actions]="profileActions"
  [t-notification-actions]="notificationActions"
  [t-notification-number]="getNotificationNumber()"
  [t-title]="titleToolBar"></thf-toolbar> -->

</div>